<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitHit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="container d-flex justify-content-center align-items-center my-3">
    <div class="card bg-dark text-white border-secondary shadow mb-3" style="width: 32rem">
        <img src="https://res.cloudinary.com/dng3udoi7/image/upload/v1646570730/FitHit/Banner_z3ltwn.png" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
            <div class="mb-5">
          <h1 class="card-title robsl display-5">Welcome to FitHit</h1>
        </div>
        <div class="mb-5">
          <h3 class="card-text rob display-6">Are you ready to Get Fit, Strong & Motivated</h3>
        </div>
        <div class="mt-5 mb-3">
          <a href="/gyms" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white rob">Explore More &#8594;</a>
        </div>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>